*{
    margin: 0;
}

/* menu */

.container-general{
    background: linear-gradient(to right, #D8C9BB 0%,#D8C9BB 50%, #fff 50%,#fff 100%);  
}

.topnav {
    overflow: hidden;  
}
  
.topnav a {
    float: left;
    display: block;
    font-family: 'Montserrat', sans-serif;
    color:#000;
    text-align: center;
    padding: 50px 4% 0 5%;
    text-decoration: none;
    font-size: 16px;
}
  
.topnav .icon {
    display: none;
}

ul{
    list-style: none;
}
  
@media screen and (max-width: 1351px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 1351px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
  
/* menu-end */

/* header */

.container-header{
    width: 100%;
    height: auto;
    padding-top: 5%;  
}

.sel-chair{ 
    width: 26%;
    height: auto;
    float:left;
    margin:0 15% 0 15%;
}

.description h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 5% 0px 0px 20%;
    text-align: left;
    line-height : 50px;
    letter-spacing: 5px;   
}

.description h3{
    font-size:25px;
    font-family: 'Roboto', sans-serif;   
    margin: 5px 5px 10px 15%;
    text-align: left;
    line-height : 25px;
}

.description p{
    font-size:15px;
    font-family: 'Roboto', sans-serif;   
    margin: 10px 5px 10px 20%;
    text-align: left;
    line-height : 25px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:0;
    display: inline-block;
}

.dot-color-white1{
    background-color: #E0D9D1;
}

.dot-color-white2{
    background-color: #E6E4E2;
}

.dot-select{
    border-radius:100%;
    border: solid 1px #000;
}
.container-button{
    padding: 10px;
}

.button-plus {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: none;
    background-color: #464159;  
    color:#fff;
    font-size: 30px;
    margin:0 15px;
  
}
.button-plus{
    box-shadow: 0 2px 2px 0 #464159, 0 2px 2px 0 #464159;
}

.button-text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    border:none;

}
.button {
    background-color: #464159; 
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 30px 0 0 ; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
  
.button {
    box-shadow: 0 2px 2px 0 #464159, 0 2px 2px 0 #464159;
}

.button-add {
    background-color: white;
    color: #464159;
    border: 2px solid #464159;
    border-radius: 4px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}


.container-socialmedia{
    padding: 5% 0 1px 0;
}

.social-media li{
    margin: 30px 0 30px 0;
   
}

/* Description */
.tab {
    overflow: hidden;
    background-color: #F4F4F4;
    text-align: center;
    padding-top:30px;  
}

.tabcontent{
    background-color: #fff;
    margin: 0 20%;
    
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}


/* similar */

.similar-products{
    background-color: #F4F4F4;
    padding: 50px 0px; 
    text-align: center;
}

.similar-products img{
    margin:20px;
    text-align: center;
}

.similar-products h2{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 25px;    
}

/* Suscribe */

.suscribe{
    background-color: #F4F4F4;
    padding: 20px 30%;   
}

.table, td, th {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
}

.button5 {
    background-color: #464159;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button5:hover {
    background-color: #464159;
    color:#fff;
}

/* Final Suscribe */

/* Footer */

.footer{
    background-color: #E8ECF1;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: left;
    justify-content: space-between;
}

.footer table{
    margin-left:20%;
    padding: 30px;
}

.footer table p {
    font-size: 13px;
    padding: 5px 0px;
}

.social-media a{
    padding: 10px;
    text-align: center;
}

.social-media h3{
    text-align: center;
    padding: 5px;
}

.social-media p{
    text-align: center;
    padding: 5px;
}
/* Final Footer */

