*{
    margin: 0;
}
/* menu */
.container-general{
    background: linear-gradient(to right, #D8C9BB 0%,#D8C9BB 50%, #fff 50%,#fff 100%);  
}

ul{
    list-style: none;
}

.navbar-navbar li > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    padding: 50px 30px 0px 30px;
    display: block;
    text-decoration: none;   
}

.navbar-navbar >li{
    float: left;
    text-align:center;
}

.navbar-navbar>li>ul{
    display: none;
}

.navbar-navbar>li:hover>ul {
    display:block;
}

.first-group{
    padding-left: 15%;
}

.second-group{
    padding-left: 15%;
}
/* menu-end */

/* header */
.container-header{
    width: 100%;
    height: auto;
    padding-top: 10%;  
}

.sel-chair{ 
    width: 26%;
    height: auto;
    float:left;
    margin:0 15% 0 15%;
}

.description h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin: 5% 0px 0px 20%;
    text-align: left;
    line-height : 50px;
    letter-spacing: 5px;   
}

.description h3{
    font-size:25px;
    font-family: 'Roboto', sans-serif;   
    margin: 5px 5px 10px 15%;
    text-align: left;
    line-height : 25px;
}

.description p{
    font-size:15px;
    font-family: 'Roboto', sans-serif;   
    margin: 10px 5px 10px 20%;
    text-align: left;
    line-height : 25px;
}


.dot {
    height: 25px;
    width: 25px;
    background-color: #E0D9D1;
    border-radius: 50%;
    border:0;
    display: inline-block;
}

.dot2 {
    height: 25px;
    width: 25px;
    background-color: #E6E4E2;
    border-radius:50%;
    border:0;
    display: inline-block;
}
 
.dot-select{
    border-radius:100%;
    border: solid 1px #000;
}

.button {
    background-color: #464159; 
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 30px 0 0 ; 
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
  
.button {
    box-shadow: 0 2px 2px 0 #464159, 0 2px 2px 0 #464159;
}

.button-add {
    background-color: white;
    color: #464159;
    border: 2px solid #464159;
    border-radius: 4px;
    padding: 10px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}


.container-socialmedia{
    padding: 5% 0 1px 0;
}

.social-media li{
    margin: 30px 0 30px 0;
   
}

/* Description */
.descriptions{
    font-family: 'Libre Franklin', sans-serif;
    width: 65%;
    margin: auto;
}

/* similar */

.similar-products{
    background-color: #F4F4F4;
    padding: 50px 0px; 
    text-align: center;
}

.similar-products img{
    margin:20px;
    text-align: center;
}

.similar-products h2{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 25px;    
}

/* Suscribe */

.suscribe{
    background-color: #F4F4F4;
    padding: 20px 30%;   
}

.table, td, th {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;    
}

.button5 {
    background-color: #464159;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.button5:hover {
    background-color: #464159;
    color:#fff;
}

/* Final Suscribe */

/* Footer */

.footer{
    background-color: #E8ECF1;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    text-align: left;
    justify-content: space-between;
}

.footer table{
    margin-left:20%;
    padding: 30px;
}

.footer table p {
    font-size: 13px;
    padding: 5px 0px;
}

.social-media a{
    padding: 10px;
    text-align: center;
}

.social-media h3{
    text-align: center;
    padding: 5px;
}

.social-media p{
    text-align: center;
    padding: 5px;
}
/* Final Footer */

